{
    "database": {
        "host": "127.0.0.1",
        "user": "root",
        "passwd": "", 
        "db": "dejavu"
    },
    "database": {
        "host": "sonus-dev.c1dtmnnkycaw.us-east-1.rds.amazonaws.com",
        "user": "sonus_master",
        "passwd": "password", 
        "db": "dejavu"
    }
}
