[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==2.0.2"
scipy = ">=0.19.1"
numpy = ">=1.13.1"
pydub = "==0.20.0"
PyMySQL = "==0.7.11"
chalice = "*"

[dev-packages]
pylint = "*"
